PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/multivideo
COOKIE_KEY=somesecretstring

# Google / YouTube
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
# This redirect URI is for the "Connect YouTube" flow
YOUTUBE_REDIRECT_URI=http://localhost:5000/connect/youtube/callback
# Note: You also need http://localhost:5000/auth/google/callback added in Google Console for the main login.

# Facebook / Instagram
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
FACEBOOK_REDIRECT_URI=http://localhost:5000/connect/facebook/callback

# LinkedIn
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:5000/connect/linkedin/callback

# Twitter / X
TWITTER_CLIENT_ID=1849012252445405184monu564100
TWITTER_CLIENT_SECRET=your_twitter_client_secret
TWITTER_REDIRECT_URI=http://localhost:5000/connect/twitter/callback
